{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='global/editar_clientes.css') }}">

<div class="clientes-form">

    <!-- Título principal -->
    <h1>{{ titulo }}</h1>

    <!-- Formulário -->
    <form method="post">

        <div class="form-group">
            <label>Data e hora</label>
            <input type="datetime-local" name="data_hora" id="data_hora">
        </div>

        <div class="form-group">
            <label>Motivo</label>
            <input type="text" name="motivo" required value="{{ consulta.motivo if consulta else '' }}">
        </div>

        <div class="form-group">
            <label>Notas</label>
            <input type="text" name="notas" required value="{{ consulta.notas if consulta else '' }}">
        </div>

        <div class="form-actions">
            <button type="submit">Guardar</button>
            <a href="{{ url_for( 'tabela_consultas' ) }}">Cancelar</a>
        </div>

    </form>

</div>

{% endblock %}
