{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='global/tabelas_form.css') }}">

<div class="clientes-table">

    <!-- Título principal da página -->
    <h1>Lista de Consultas</h1>

    <!-- Tabela que apresenta os utilizadores vindos da base de dados -->
    <table>
        <tr>
            <!-- Cabeçalho da tabela -->
            <th>Id</th>
            <th>Data e hora</th>
            <th>Motivo</th>
            <th>Notas</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>

        <!-- Loop Jinja2 que percorre todos os utilizadores enviados pelo Flask -->
        {% for c in consultas %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.data_hora }}</td>
            <td>{{ c.motivo }}</td>
            <td>{{ c.notas }}</td>
            <td>{{ c.created_at }}</td>

            <!-- Coluna das ações -->
            <td>
                {% if session["user_role"] == "admin" or session["user_role"] == "staff"%}

                <a href="/editar_consulta/{{ c.id }}">Editar</a>

                    {% if session["user_role"] == "admin" %}
                    <form action="/deleta_consulta/{{ c.id }}" method="post" onsubmit="return confirmarApagar();"> 
                        <button type="submit" class="btn-apagar">Apagar</button>
                    </form>
                    {% endif %}

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}