{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='global/tabelas_form.css') }}">

<div class="clientes-table">

    <!-- Título principal da página -->
    <h1>Lista de Clientes</h1>

    <!-- Tabela que apresenta os utilizadores vindos da base de dados -->
    <table>
        <tr>
            <!-- Cabeçalho da tabela -->
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Morada</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>

        <!-- Loop Jinja2 que percorre todos os utilizadores enviados pelo Flask -->
        {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.telefone }}</td>
            <td>{{ c.morada }}</td>
            <td>{{ c.created_at }}</td>

            <!-- Coluna das ações -->
            <td>
                {% if session["user_role"] == "admin" or session["user_role"] == "staff"%}

                <a href="/editar_cliente/{{ c.id }}">Editar</a>
                    {% if session["user_role"] == "admin" %}
                    <form action="/deleta_cliente/{{ c.id }}" method="post">
                        <button type="submit">Apagar</button>
                    </form>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}