{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='global/editar_clientes.css') }}">

<div class="clientes-form">

    <!-- Título principal -->
    <h1>{{ titulo }}</h1>

    <!-- Formulário -->
    <form method="post">

        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="nome" required value="{{ cliente.nome if cliente else '' }}">
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="email" required value="{{ cliente.email if cliente else '' }}">
        </div>

        <div class="form-group">
            <label>Telefone</label>
            <input type="text" name="telefone" required value="{{ cliente.telefone if cliente else '' }}">
        </div>

        <div class="form-group">
            <label>Morada</label>
            <input type="text" name="morada" required value="{{ cliente.morada if cliente else '' }}">
        </div>

        <div class="form-actions">
            <button type="submit">Guardar</button>
            <a href="{{ url_for( 'tabela_clientes' ) }}">Cancelar</a>
        </div>

    </form>

</div>

{% endblock %}
