{% extends "base.html" %}

{% block content %}
<!-- O título da página é dinâmico e recebido pelo Flask -->
<title>Registrar</title> <!-- Para ficar dinamico {{ titulo }} -->


<!-- Link para o CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='users/login.css') }}">


<div class="registrar-usuario-form">

    <h1>Registrar</h1>

    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <ul>
        {% for m in msgs %}
        <li> {{ m }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post">

        <p>
            Utilizador:<br>
            <input type="text" name="username" required value="">
        </p>

        <p>
            Senha:<br>
            <input type="password" name="password" required>
        </p>

        <p>
            Role:<br>
            <input type="text" name="role" required>
        </p>

        <button type="submit">Cadastrar</button>
        <a href="{{ url_for( 'tabela_utilizadores' ) }}">Cancelar</a>

    </form>
</div>



{% endblock %}