{% extends "base.html" %}

{% block content %} 

<link rel="stylesheet" href="{{ url_for('static', filename='global/tabelas_form.css') }}">

<div class="clientes-table">

    <!-- Título principal da página -->
    <h1>Lista de utilizadores</h1>

    <!-- Tabela que apresenta os utilizadores vindos da base de dados -->
    <table>
        <tr>
            <!-- Cabeçalho da tabela -->
            <th>Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>

        <!-- Loop Jinja2 que percorre todos os utilizadores enviados pelo Flask -->
        {% for u in utilizadores %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.created_at }}</td>
            
            <!-- Coluna das ações -->
            <td>
                {% if session["user_role"] == "admin" %}

                    <a href="/trocar_password/{{ u.id }}">Editar</a>

                    <form action="/deleta_utilizador/{{ u.id }}" method="post">
                        <button type="submit">Apagar</button>
                    </form>

                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
