/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f4f4f4;
}
/* Section Navbar */
.sec-navbar {
    background-color: #333;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    max-width: 1300px;
    margin: 0 auto;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.navbar li {
    align-self: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff9800;
}

/* Container do logout */
.btn-logout {
    background-color: #444; /* tom mais escuro que a navbar */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4;
    transition: background-color 0.3s;
}

/* Efeito hover no container */
.btn-logout:hover {
    background-color: #555;
}

/* Link de logout */
.btn-logout a {
    color: #ff9800; /* laranja do hover da navbar */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.btn-logout a:hover {
    color: #ffd180;
}

/* Parágrafo dentro do botão */
.btn-logout p {
    margin: 0;
}


/* Menu responsivo */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
        border-radius: 4px;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }
}





@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
.footer {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;

    position: fixed; /* fixa na tela */
    bottom: 0;       /* na parte inferior */
    left: 0;         /* do lado esquerdo */
    width: 100%;     /* ocupa toda a largura */
    z-index: 1000;   /* garante que fique acima de outros elementos */

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0;
}

.footer-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #ff9800;
}

.footer-copy {
    font-size: 0.9rem;
    color: #ccc;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        gap: 0.8rem;
    }
}
