<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Veterinária</title>

    <link rel="stylesheet" href="/static/global/style.css">


</head>
<body>
    <section class="sec-navbar">
        <nav class="navbar">
            <div class="logo">Clinica Veterinária</div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="nav-links">
                <li><a href="{{ url_for('registrar_novo_utilizador') }}">Novo utilizador</a></li>
                <li><a href="{{ url_for('tabela_clientes') }}">Tabela Clientes</a></li>
                <li><a href="{{ url_for('meus_dados') }}">Meus dados</a></li>


                <section class="btn-logout">
                    {% if "user_id" in session %}
                        <p>
                            Logged: {{ session.username }}<br>
                            Role: {{ session.user_role }}<br>
                            <a href="{{ url_for('logout') }}">Logout</a>
                        </p>
                    {% endif %}
                </section>
            </ul>
        </nav>
    </section>



    {% block content %} {% endblock %} <!-- Traz corpos html para renderizar aqui -->



    <footer class="footer">
    <div class="footer-container">
        <ul class="footer-links">
            <li><a href="{{ url_for('registrar_novo_utilizador') }}">Novo utilizador</a></li>
            <li><a href="{{ url_for('tabela_clientes') }}">Tabela Clientes</a></li>
        </ul>
        <p class="footer-copy">© 2026 Clinica Veterinária 
            <br> Projeto de Python Avançado.
        </p>
    </div>
</footer>



    <script>
        function toggleMenu() {
            const nav = document.getElementById('nav-links');
            nav.classList.toggle('active');
        }
    </script>

</body>
</html>





</body>
</html>